* {
  padding: 0;
  margin: 0;
}
#game {
  width: 700px;
  height: 200px;
  margin: 30px 30px;
  border: 1px solid black;
}
#character {
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
}
.jump {
  animation: jump 500ms linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  40% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
#block {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 680px;
  animation: block 1s infinite linear;
}
@keyframes block {
  0% {
    left: 680px;
  }
  100% {
    left: 0px;
  }
}
